certifi==2022.12.7
charset-normalizer==3.1.0
cloudscale-sdk==0.7.0
contourpy==1.0.7
cs==3.1.0
cycler==0.11.0
dateparser==1.1.8
deprecated==1.2.13
fonttools==4.39.3
hcloud==1.21.0
httmock==1.4.0
idna==3.4
importlib-metadata==6.6.0
jsonpickle==3.0.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pillow==9.5.0
prometheus-api-client==0.5.3
prometheus-client==0.17.0
pydantic==1.10.9
pydantic-yaml==0.11.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-digitalocean==1.17.0
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyyaml==6.0
regex==2023.5.2
requests==2.31.0
schedule==1.2.0
six==1.16.0
types-deprecated==1.2.9.2
typing-extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
wrapt==1.15.0
xdg==6.0.0
zipp==3.15.0
