cloudscale-sdk
cs
hcloud
prometheus-api-client
prometheus-client
pydantic-yaml<1.0.0
pydantic
python-digitalocean
python-dotenv
python-json-logger
PyYAML
requests
schedule
backports.zoneinfo;python_version<"3.9"
