cloudscale-sdk==0.7.0
cs==3.0.0
hcloud==1.19.0
prometheus-api-client==0.5.3
prometheus-client==0.16.0
pydantic-yaml==0.11.2
pydantic==1.10.7
python-digitalocean==1.17.0
python-dotenv==1.0.0
python-json-logger==2.0.7
PyYAML==6.0
requests==2.29.0
schedule==1.2.0
