certifi==2023.7.22
charset-normalizer==3.3.0
cloudscale-sdk==0.7.0
contourpy==1.1.1
cs==3.2.0
cycler==0.12.1
dateparser==1.1.8
deprecated==1.2.14
fonttools==4.43.1
hcloud==1.29.1
httmock==1.4.0
idna==3.4
importlib-metadata==6.8.0
jsonpickle==3.0.2
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.0
packaging==23.2
pandas==2.1.1
pillow==10.0.1
prometheus-api-client==0.5.4
prometheus-client==0.17.1
pydantic==1.10.13
pydantic-yaml==0.11.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-digitalocean==1.17.0
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2023.3.post1
pyyaml==6.0.1
regex==2023.10.3
requests==2.31.0
schedule==1.2.1
six==1.16.0
types-deprecated==1.2.9.3
typing-extensions==4.8.0
tzdata==2023.3
tzlocal==5.1
urllib3==2.0.6
wrapt==1.15.0
xdg==6.0.0
zipp==3.17.0
